*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    overflow-x: none;
}
.navContainer{
    width: 100vw;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(1,187,239,1) 92%, rgba(0,212,255,1) 100%);
    min-height: 80px;
}

#navList{
    margin-left: 15px;
    margin-right: 15px;
    list-style: none;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#logo{
    font-size: 2.8rem;
    color: azure;
}

a{
    text-decoration: none;
    color:aliceblue;
}

#navItems{
    display: flex;
    gap: 40px;
}
.footer{
    background: rgb(73, 73, 251);
    background: linear-gradient(90deg, rgb(133, 95, 147) 0%, rgba(9,9,121,1) 35%, rgba(1,187,239,1) 92%, rgba(0,212,255,1) 100%);
    
    text-align: center;
    min-height: 40px;
    
}
.footer p{
    font-size: 1.5rem;
    color: azure;
}

.contentBox{
    width: 50%;
    margin: auto;
    border: 2px solid black;
    background-color: beige;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}